.center {
  text-align: center;
}

.title {
  /* text-align: center; */
  color: #dc7633;
}

.score {
  /* text-align: center; */
  font-size: 150px;
}

.teams {
  /* text-align: center; */
}

.yellow {
  color: #d4ac0d;
}

.blue {
  color: #2e86c1;
}

.overs {
  /* text-align: center; */
}

.balls {
  display: flex;
  /* justify-content: center; */
  justify-content: center;
}

.ball {
  background: lightblue;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 5px;
}
.point {
  margin: 10px;
}
